:root {
  --azul-escuro: #1a2b48;    /* O azul do fundo do seu cartão */
  --azul-vibrante: #2196f3;  /* O azul da palavra EXPRESS */
  --branco: #ffffff;
  --cinza-fundo: #f4f7f6;
  --texto-cor: #333333;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--cinza-fundo);
  color: var(--texto-cor);
}

.App {
  text-align: center;
}